<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CROP PRICE PREDICTION</title>
  <!-- Materialize CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <style>
    
    body{
      background-color: #4ae857;
    }
    .block{
      border:2px solid black;
      background-color:white;
      padding-left : 100px;
    }
  </style>
</head>

<body>
  <div class="container center-align">
    <h3>Crop Price Prediction</h3>
  
    <!-- Crop Icons and Names -->
     <div class="block">
      <br><br>
    <div class="row">
      <div class="col s2">
        <a href="http://localhost:5005/commodity/paddy">
          <img src="https://img.icons8.com/color/48/000000/rice-bowl.png" alt="Paddy">
          <p>Paddy</p>
        </a>
      </div>
      <div class="col s2">
        <a href="http://localhost:5005/commodity/wheat">
          <img src="https://img.icons8.com/color/48/000000/wheat.png" alt="Wheat">
          <p>Wheat</p>
        </a>
      </div>
      <div class="col s2">
        <a href="http://localhost:5005/commodity/barley">
          <img src="https://img.icons8.com/color/48/000000/barley.png" alt="Barley">
          <p>Barley</p>
        </a>
      </div>
      <div class="col s2">
        <a href="http://localhost:5005/commodity/soyabean">
          <img src="https://img.icons8.com/color/48/000000/soy.png" alt="Soyabean">
          <p>Soyabean</p>
        </a>
      </div>
      <div class="col s2">
        <a href="http://localhost:5005/commodity/copra">
          <img src="https://img.icons8.com/color/48/000000/coconut.png" alt="Coconut">
          <p>Coconut</p>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col s2">
        <a href="http://localhost:5005/commodity/groundnut">
          <img src="https://img.icons8.com/color/48/000000/peanuts.png" alt="Ground Nut">
          <p>Groundnut</p>
        </a>
      </div>
     
      <div class="col s2">
        <a href="http://localhost:5005/commodity/sesamum">
          <img src="https://img.icons8.com/color/48/000000/sesame.png" alt="Sesamum">
          <p>Sesamum</p>
        </a>
      </div>
      <div class="col s2">
        <a href="http://localhost:5005/commodity/gram">
          <img src="https://img.icons8.com/color/48/000000/paper-bag-with-seeds.png" alt="Gram">
          <p>Gram</p>
        </a>
      </div>
      <div class="col s2">
        <a href="http://localhost:5005/commodity/sugarcane">
          <img src="https://img.icons8.com/color/48/000000/bamboo.png" alt="Sugarcane">
          <p>Sugarcane</p>
        </a>
      </div>
      <div class="col s2">
        <a href="http://localhost:5005/commodity/arhar">
          <img src="https://img.icons8.com/color/48/000000/paper-bag-with-seeds.png" alt="Arhar">
          <p>Arhar</p>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col s2">
        <a href="http://localhost:5005/commodity/ragi">
          <img src="https://img.icons8.com/office/48/000000/wheat.png" alt="Ragi">
          <p>Ragi</p>
        </a>
      </div>
      <div class="col s2">
        <a href="http://localhost:5005/commodity/maize">
          <img src="https://img.icons8.com/color/48/000000/corn.png" alt="Maize">
          <p>Maize</p>
        </a>
      </div>
      <div class="col s2">
        <a href="http://localhost:5005/commodity/moong">
          <img src="https://img.icons8.com/color/48/000000/paper-bag-with-seeds.png" alt="Moong">
          <p>Moong</p>
        </a>
      </div>
      <div class="col s2">
        <a href="http://localhost:5005/commodity/masoor">
          <img src="https://img.icons8.com/color/48/000000/paper-bag-with-seeds.png" alt="Masoor">
          <p>Masoor</p>
        </a>
      </div>
    </div>
  </div>
</div>
  <!-- Materialize JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
